$primaryColor: #22D667;
$secondaryColor: #C1C1C1;
$blue: #007CEF;
$cancelColor: #E55F5F;
$textColor: #3c3c3c;
$lightBgColor: #f9f9f9;
$darkBgColor: rgba(111,111,111,.9);


.bgPrimary { 
  background-color: $primaryColor;
}

.bgSecondary { 
  background-color: $secondaryColor;
}

.bgCancel {
  background-color: $cancelColor;
}

.colorPrimary { 
  color: $primaryColor !important;
}

.colorSecondary {
  color: $secondaryColor !important
  ;
}

.borderPrimary {
  border: 2px solid $primaryColor;
  background: transparent;
}